@import "../../variables.scss";

.searchList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 1rem;

  h2 {
    font-family: $secondary-text;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
  }

  h4 {
    font-family: $secondary-text;
    font-size: 1.25rem;
  }

  p {
    font-family: $primary-text;
    font-size: $p-font-size;
  }

  .notFound {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: $primary-border;
  }

  .searchCards {
    width: 100%;
  }

  .cardsHeader {
    margin: 0.5rem 0;
  }
}
