@import "../../variables.scss";

.search {
  background-color: $tertiary-color;
  border-radius: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;

  span {
    margin-right: 0.5rem;
  }

  input {
    background-color: $tertiary-color;
    font-size: 1rem;
    width: 12rem;
    transition: width ease-in-out 300ms;

    &:focus {
      outline: none;
      width: 21rem;
    }
  }
}
