@import "../../variables.scss";

.button {
  font-family: $primary-text;
  font-size: $p-font-size;
  font-weight: 500;
  color: #fff;
  background-color: $primary-color;
  border: $secondary-border;
  border-radius: 2rem;
  padding: 0.8em 1.8em;
  transition: ease-in-out 0.25s;

  &:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
  }
}
