@import "../../variables.scss";

.notFound {
  height: 100%;
  width: 100%;
  max-width: 92rem;
  margin: 0 auto;

  .imgContainer {
    width: 100%;
    height: 1rem * 24;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 60%;
    }
  }
}
