@import "../../variables.scss";

nav {
  height: 5rem;
  min-width: 100%;
  margin: 0 auto;
  color: $primary-color;
  border-bottom: $primary-border;
  top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .navFlex {
    width: 100%;
    max-width: 92rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: relative;

    h3 {
      font-size: 2.5rem;
      font-family: $secondary-text;
    }

    .navImg {
      object-fit: contain;
      height: 2.5rem;
      width: 2.5rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
}
