@import "../../variables.scss";

nav {
  height: 4rem;
  max-width: 100%;
  background-color: $tertiary-color;
  padding: 0 2rem;
  color: $primary-color;
  border-bottom: $primary-border;

  h3 {
    font-size: 2.5rem;
    font-family: $secondary-text;
  }
}

.navFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
