@import "../../variables.scss";

nav {
  height: 5rem;
  min-width: 100%;
  margin: 0 auto;
  color: $primary-color;
  border-bottom: $primary-border;
  top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .navFlex {
    width: 100%;
    max-width: 92rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: relative;

    .link1 {
      height: 4rem;
      width: 9rem;
      padding: 0.25rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .navLogoText {
        object-fit: contain;
        height: 2.5rem;
      }
    }

    .link2 {
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);

      .navLogoImg {
        object-fit: contain;
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 5rem;
    animation-name: fadeIn;
    animation-duration: 0.1s;
  }
}
