@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Teko&display=swap");

$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(26, 176, 144);
$tertiary-color: rgb(245, 245, 245);

$primary-border: solid 2px $primary-color;
$secondary-border: solid 2px $secondary-color;

$primary-text: "Inter", sans-serif;
$secondary-text: "Teko", sans-serif;
