@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&family=Teko&display=swap");

$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(1, 167, 201);
$tertiary-color: rgb(245, 245, 245);
$quaternary-color: rgb(100, 100, 100);

$primary-border: solid 1px rgb(225, 225, 225);
$secondary-border: solid 1px $primary-color;

$primary-text: "Inter", sans-serif;
$secondary-text: "Bebas Neue", sans-serif;

$h2-font-size: 2.5rem;
$h4-font-size: 1rem;
$p-font-size: 0.9rem;

$h2-font-weight: 600;
$h4-font-weight: 400;
$p-font-weight: 400;

$p-line-height: 1.5rem;
